

*,
::before,
::after {
  box-sizing: border-box;
  
  border-width: 0;
  
  border-style: solid;
  
  border-color: #e5e7eb;
  
}

::before,
::after {
  --tw-content: '';
}


html {
  line-height: 1.5;
  
  -webkit-text-size-adjust: 100%;
  
  -moz-tab-size: 4;
  
  -o-tab-size: 4;
     tab-size: 4;
  
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  
  font-feature-settings: normal;
  
  font-variation-settings: normal;
  
}


body {
  margin: 0;
  
  line-height: inherit;
  
}


hr {
  height: 0;
  
  color: inherit;
  
  border-top-width: 1px;
  
}


abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}


a {
  color: inherit;
  text-decoration: inherit;
}


b,
strong {
  font-weight: bolder;
}


code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  
  font-feature-settings: normal;
  
  font-variation-settings: normal;
  
  font-size: 1em;
  
}


small {
  font-size: 80%;
}


sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}


table {
  text-indent: 0;
  
  border-color: inherit;
  
  border-collapse: collapse;
  
}


button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  
  font-feature-settings: inherit;
  
  font-variation-settings: inherit;
  
  font-size: 100%;
  
  font-weight: inherit;
  
  line-height: inherit;
  
  color: inherit;
  
  margin: 0;
  
  padding: 0;
  
}


button,
select {
  text-transform: none;
}


button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  
  background-color: transparent;
  
  background-image: none;
  
}


:-moz-focusring {
  outline: auto;
}


:-moz-ui-invalid {
  box-shadow: none;
}


progress {
  vertical-align: baseline;
}


::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}



[type='search'] {
  -webkit-appearance: textfield;
  
  outline-offset: -2px;
  
}


::-webkit-search-decoration {
  -webkit-appearance: none;
}


::-webkit-file-upload-button {
  -webkit-appearance: button;
  
  font: inherit;
  
}


summary {
  display: list-item;
}


blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}



dialog {
  padding: 0;
}


textarea {
  resize: vertical;
}


input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  
  color: #9ca3af;
  
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  
  color: #9ca3af;
  
}


button,
[role="button"] {
  cursor: pointer;
}



:disabled {
  cursor: default;
}



img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}



img,
video {
  max-width: 100%;
  height: auto;
}


[hidden] {
  display: none;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.relative {
  position: relative;
}

.z-50 {
  z-index: 50;
}

.z-\[100\] {
  z-index: 100;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.h-3 {
  height: 0.75rem;
}

.w-0 {
  width: 0px;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-8 {
  gap: 2rem;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.bg-\[--main-bg-color\] {
  background-color: var(--main-bg-color);
}

.bg-slate-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(30 41 59 / var(--tw-bg-opacity));
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.align-middle {
  vertical-align: middle;
}

.font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.text-5xl {
  font-size: 3rem;
  line-height: 1;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-\[--correct-color\] {
  color: var(--correct-color);
}

.text-\[var\(--boba-color\)\] {
  color: var(--boba-color);
}

.text-slate-600 {
  --tw-text-opacity: 1;
  color: rgb(71 85 105 / var(--tw-text-opacity));
}

.opacity-0 {
  opacity: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --main-bg-color: rgb(30 41 59);
  --p-text-color: rgb(71 85 105);
  --boba-color: rgb(255 255 255);
  --correct-color: rgb(255 255 255);
  --incorrect-color: rgb(202, 71, 84);
  --caret-color: rgb(0 122 204);
  --results-color: rgb(255 255 255);
  --themes-drawer-color: rgb(45, 52, 62) ;
  --themes-text-color: rgb(255, 255, 255);
  --themes-name-hover-color: rgb(33, 33, 33);
  --ex: rgb(230, 84, 99);
}

.hidden{
  display: none;
}

body {
  display: flex;
  overflow: hidden;
  background-color: var(--main-bg-color);
  min-height: 100vh;
  padding: 0 10px;
}

#themes-wrapper{
  position: fixed;
  opacity: 1;
  width: 100%;
  height: 48rem;
  margin-top: 15rem;
  z-index: 1000;
}

#themes{
  opacity: 1;
  height: auto;
  width: 500px;
  margin-right:auto;
  margin-left: 32rem;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 998;
  display: none;
}

.backdrop.active {
  display: block;
  filter: blur(5px);
}

#themes-list{
  color: var(--themes-text-color)
}

.result-details{
  color: var(--results-color);
}

::-moz-selection {
  color: #fff;
}

::selection {
  color: #fff;
}

.wrapper {
  width: 1000px;
  padding: 35px;
  margin-left: 13rem;
  margin-top: auto;
  margin-bottom: auto;
  background-color: var(--main-bg-color);
}

.wrapper .input-field {
  z-index: -999;
  position: absolute;
}

.content-box .typing-text {
  overflow: hidden;
  max-height: 256px;
}

.typing-text::-webkit-scrollbar {
  width: 0;
}

.typing-text p {
  font-size: 21px;
  text-align: justify;
  letter-spacing: 1px;
  word-break:break-all;
  color: var(--p-text-color);
}

.typing-text p span {
  position: relative;
}

.typing-text p span.correct {
  color: var(--correct-color);
}

.typing-text p span.incorrect {
  color: var(--incorrect-color);
}

.typing-text p span.active::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 2px;
  left: 0;
  opacity: 0;
  border-radius: 5px;
  background: var(--caret-color);
  animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}

.content-box .content {
  margin-top: 17px;
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.content button {
  outline: none;
  border: none;
  width: 50px;
  color: #007acc;
  padding: 8px 0;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  background: none;
  transition: transform 0.2s ease;
}

.content .result-details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: calc(100% - 140px);
  justify-content: space-between;
}

.result-details li {
  display: flex;
  height: 20px;
  list-style: none;
  position: relative;
  align-items: center;
}

.result-details li:not(:first-child) {
  padding-left: 22px;
  border-left: 2px solid var(--results-color);
}

.result-details li p {
  font-size: 13px;
}

.result-details li span {
  display: block;
  font-size: 13px;
  margin-left: 10px;
}

li span b {
  font-weight: 500;
}

li:not(:first-child) span {
  font-weight: 500;
}

@media (max-width: 745px) {
  .wrapper {
    padding: 20px;
  }

  .content-box .content {
    padding: 20px 0;
  }

  .content-box .typing-text {
    max-height: 100%;
  }

  .typing-text p {
    font-size: 19px;
    text-align: left;
  }

  .content button {
    width: 100%;
    font-size: 15px;
    padding: 10px 0;
    margin-top: 20px;
  }

  .content .result-details {
    width: 100%;
  }

  .result-details li:not(:first-child) {
    border-left: 0;
    padding: 0;
  }

  .result-details li p,
    .result-details li span {
    font-size: 15px;
  }
}

@media (max-width: 518px) {
  .wrapper .content-box {
    padding: 10px 15px 0;
  }

  .typing-text p {
    font-size: 13px;
  }

  .result-details li {
    margin-bottom: 10px;
  }

  .content button {
    margin-top: 10px;
  }
}

.hover\:bg-\[--correct-color\]:hover {
  background-color: var(--correct-color);
}

.hover\:font-bold:hover {
  font-weight: 700;
}

.hover\:text-\[--main-bg-color\]:hover {
  color: var(--main-bg-color);
}

#settings-wrapper, #scores-wrapper {
  position: fixed;
  opacity: 1;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
}

#settings-wrapper.hidden, #scores-wrapper.hidden {
  display: none;
}

#settings-wrapper, #scores-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

#settings, #scores-container {
  background-color: var(--main-bg-color);
  border: 2px solid var(--correct-color);
  z-index: 1001;
}

#settings select {
  background-color: var(--main-bg-color);
  color: var(--correct-color);
  border: 1px solid var(--correct-color);
}

#settings select option {
  background-color: var(--main-bg-color);
  color: var(--correct-color);
}

#command-bar button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}
